.pokedexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
    .Pokedex {
        margin: 25px;

        h2 {
        color: #263238;
        }
    }
}


